@using Capstone3.Models;

@{
    ViewBag.Title = "Logged In";
}


<h2>You Are Logged In As <b>@Session["LoggedIn"]</b></h2>

<h3>Welcome to your task list:</h3>

@if (ViewBag.Tasks == null || ViewBag.Tasks.Count == 0)
{
    <h3 style="color:red">There are no tasks listed. How about you add some!</h3>
}
else
{
    foreach (Tasks t in ViewBag.Tasks)
    {
<p> @t.ID - @t.Description - @t.DueDate.ToString("dd-MM-yyyy")  - <span><form action="CompletedTask" method="post"><button type="submit" class="btn btn-sm">COMPLETED</button></form></span></p>

    }
}

<p></p>
<form class="form-inline" action="Task" method="post">
    <label class="sr-only">Task</label>
    <input type="text" class="form-control" name="Description" placeholder="Task" />

    <label class="sr-only">Due Date</label>
    <div class="input-group mb-2 mr-sm-2">
        <input type="date" class="form-control" name="DueDate">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Add Task</button>
</form>

<form action="Logout" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
